<div id='login-form' class='login-container'>

<%= form_for(@user, url: '/sessions', method: 'post', html: { class: 'form-horizontal col-sm-offset-2 col-sm-8 login-new-form' }) do |form| %>
<div class='login-user-form col-sm-offset-2 col-sm-8'>
  <div class="text_field form-group">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', class: 'form-control', :required => true, placeholder: 'example@example.com'%>
  </div>

  <div class="password_field form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", :required => true, placeholder: 'Password' %>
  </div>

  <div class='submit-field'>
    <%= form.submit 'Log In', class: "btn btn-default" %>
  </div>
</div>
<% end %>

</div>
