<div class="container-fluid plans">
  <div class="row show-me">
    <div class="col-md-6 blue">
      <div class="container">
        <div class="row display-flex">
          <div class="col-xs-10 col-md-4 building-tops">
            <div class="thumbnail">
              <%= image_tag('225bush.jpg', style: 'height:100%; width:100%;', class: 'pictureme') %>
              <div class="caption"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 red">
      <div class="building-photos">
        <h1><%= @building.name %></h1>
        <div class="fotorama" data-nav="thumbs">
          <% @stories.each do |s| %>
            <% s.photos.each do |g| %>
              <%= image_tag src=g.img.url %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="new-btn">
  <%= button_to "Add New Story", new_building_story_path(@building), method: "get", action: "new", class: 'btn btn-default pretty-me' %>
</div>

<% @stories.each do |s| %>
<div class="container">
  <div class="stories">
      <% s.photos.each do |g| %>
        <%= image_tag src=g.img.url, width: "100px" %>
      <% end %>
    <p><%= s.id %>!</p>
    <p>Title: <%= link_to s.title, building_story_path(@building, s) %></p><br/>
        <p>Story: <%= s.description %></p><br/>
        <% if is_owner?(s) %>
        <div class="center">
          <%= link_to "Edit Story", edit_building_story_path(@building, s.id), method: "get", action: "edit", class: 'btn btn-default clear-me' %>
          <%= link_to "Delete Story", "/buildings/#{@building.id}/stories/#{s.id}", method: "delete", action: "destroy", class: "btn btn-default clear-me",  data: { confirm: "Are you sure you want to delete?" } %>
        </div>
        <% end %>
  </div>
</div>
<% end %>

<%= will_paginate @stories %>
