<h1>BUILDING SHOW PAGE</h1>

<%= @building.name %><br />
<%= @building.address %><br />

<h3>STORIES:</h3><br />
<%= @building.stories.each do |s| %>
  <div>
    <%= s.title %><br />
    <%= s.description %><br />
  </div>
  <hr />
<% end %>
