<div class="container-fluid plans">
  <div class="row show-me">
    <div class="col-md-6 blue">
      <div class="container">
        <div class="row display-flex">
          <div class="col-xs-10 col-md-4 building-tops">
            <div class="thumbnail">
              <%= image_tag('225bush.jpg', style: 'height:100%; width:100%;', class: 'pictureme') %>
              <div class="caption"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 red">
      <div class="building-photos">
        <h1><%= @building.name %></h1><h3>STORIES:</h3>
        <div class="fotorama" data-nav="thumbs">
          <%= image_tag('225front.jpg') %>
          <%= image_tag('225oil.jpg') %>
          <%= image_tag('225crowd.jpg') %>
          <%= image_tag('225top.jpg') %>
          <%= image_tag('225post.jpg') %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="new-btn">
    <%= button_to "Add New Story", new_building_story_path(@building), method: "get", action: "new", class: 'btn btn-default pretty-me' %>
  </div>
  <div class="stories">
    <% @stories.each do |s| %>
      <% s.photos.each do |g| %>
        <%= image_tag src=g.img.url, width: "100px" %>
      <% end %>
    <h1><%= s.id %>!</h1>
    <p><%= link_to s.title, building_story_path(@building, s) %><br //>
      <p>
        <%= s.description %><br/>
        <% if is_owner?(s) %>
        <%= button_to "Edit Story", edit_building_story_path(@building, s.id), method: "get", action: "edit", class: 'btn btn-default pretty-me' %>
        <%= button_to "Delete Story", "/buildings/#{@building.id}/stories/#{s.id}", method: "delete", action: "destroy", class: "btn btn-default pretty-me",  data: { confirm: "Are you sure you want to delete?" } %>
        <% end %>
      </div>
      <hr/>
      <% end %>
    </div>

    <%= will_paginate @stories %>
