<div class="container-fluid plans">
  <div class="row">
    <div class="col-xs col-md-6 blue">
      <div class="container">
        <div class="row display-flex">
          <div class="col-sm-10 col-md-4 building-tops">
            <div class="thumbnail">
              <%= image_tag(@building.main_photo)%>
            </div>
          </div>
        </div>
      </div>
      <div class="buildfacts">
        <p><%= @building.description %></p>
      </div>
    </div>
    <div class="col-xs col-md-6 red">
      <div class="nameme">
        <h1><%= @building.name %></h1>
      </div>
      <div class="fotorama" data-nav="thumbs" data-width="70%" data-ratio="50/50">
        <% @stories.each do |s| %>
        <% s.photos.each do |g| %>
        <%= image_tag src=g.img.url %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="new-btn">
  <%= button_to "Add New Story", new_building_story_path(@building), method: "get", action: "new", class: 'btn btn-default pretty-me' %>
</div>

<% @stories.each do |s| %>
<div class="container another-one">
  <div class="stories">
    <div class="icons">
      <%= link_to edit_building_story_path(@building, s.id), method: "get", action: "edit", class: 'btn btn-default clear-me' do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      <%= link_to "/buildings/#{@building.id}/stories/#{s.id}", method: "delete", action: "destroy", class: "btn btn-default clear-me",  data: { confirm: "Are you sure you want to delete?" } do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </div>
    <p>Title:<%= link_to s.title, building_story_path(@building, s) %></p>
    <p>Story:<%= s.description %></p>
  </div>
</div>
<% end %>

<div class='paginate'><%= will_paginate @stories, renderer: BootstrapPagination::Rails %></div>
