<h1>BUILDING SHOW PAGE</h1>
<%= render @photos %>
<%= @building.name %><br />
<%= @building.address %><br />

<h3>STORIES:</h3><br />
<%= button_to "Add New Story", new_building_story_path(@building), method: "get", action: "new" %>

<% @stories.each do |s| %>
    <div>
      <%= link_to s.title, building_story_path(@building, s) %><br />
      <%= s.description %><br />
      <%= s.id %>
      <% if is_owner?(s) %>
        <%= button_to "Edit Story", edit_building_story_path(@building, s.id), method: "get", action: "edit" %>
        <%= button_to "DELETE Story", "/buildings/#{@building.id}/stories/#{s.id}", method: "delete", action: "destroy", class: "btn btn-danger",  data: { confirm: "Are you sure you want to delete?" } %>
      <% end %>
    </div>
    <hr />
<% end %>
