<h1>EDIT STORY FORM PAGE</h1>

<%= form_for [@building, @story], method: "patch", action: "update" do |f| %>
    <p>Title: <%= f.text_field :title %></p>
    <p>Description: <%= f.text_area :description %></p>
    <%= f.hidden_field :user_id, :value => "#{current_user.id}" %>
    <%= f.hidden_field :building_id, :value => @building %>
    <%= f.hidden_field :id, :value => @story.id %>
  <%= f.submit "Submit Updates", class: 'btn btn-default' %>
<% end %>
