<!DOCTYPE html>
<html>
  <head>
    <title>BuildingStory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to "sign-up", new_user_path %>
      <%= link_to "log-in", login_path %>
      <%= link_to "logout", logout_path %>
    </div>
    <%= yield %>
  </body>
</html>
