<!DOCTYPE html>
<html>
  <head>
    <title>BuildingStory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <% flash.each do |name, msg| %>
      <strong><%= name %>: <%= msg %></strong>
    <% end %>
  </header>
  <body>
    <%= render 'nav/navbar' %>
    <%= yield %>
  </body>
</html>
